<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ebios{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('index') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <noscript>You need to enable JavaScript to run this app.</noscript>
            <div id="root"></div>
        {% endblock %}
    </body>
</html>
